<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Quicktrade
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Quicktrade</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-input placeholder="Nombre"[(ngModel)]="nombre"></ion-input>
  <ion-input placeholder="Descripción"[(ngModel)]="descripcion"></ion-input>
<ion-input placeholder="Precio" [type]="tipo"[(ngModel)]="precio"></ion-input>
<ion-item>
  <ion-label>{{cat}}</ion-label>
  <ion-select [(ngModel)]="categoria">
    <ion-select-option value="motor">Motor</ion-select-option>
    <ion-select-option value="tecnologia">Tecnología</ion-select-option>
    <ion-select-option value="inmobiliaria">Inmobiliaria</ion-select-option>
    <ion-select-option value="hogar">Hogar</ion-select-option>
  </ion-select>
</ion-item>
<ion-button expand="block" (click)="insertar()">Insertar</ion-button>

<ion-card *ngFor="let item of productos">
  <ion-card-header>
    <ion-card-title>Producto {{item.nombre}}</ion-card-title>
    <ion-label>Descripcion:</ion-label>
    {{item.descripcion}}
    <ion-label>Precio:</ion-label>
    {{item.precio}}
    <ion-label>Categoria:</ion-label>
    {{item.categoria}}
    <ion-label  *ngIf = "categoria=='motor'">tipos:</ion-label>
    {{item.tipos}}
    <ion-label  *ngIf = "categoria=='motor'">Km:</ion-label>
    {{item.km}}
    <ion-label  *ngIf = "categoria=='motor'">Año:</ion-label>
    {{item.anyo}}
    <ion-label *ngIf = "categoria=='inmobiliaria'">m2:</ion-label>
    {{item.m2}}
    <ion-label *ngIf = "categoria=='inmobiliaria'">Nº Baños:</ion-label>
    {{item.nbanyos}}
    <ion-label *ngIf = "categoria=='inmobiliaria'">Nº Habitaciones:</ion-label>
    {{item.nhabitaciones}}
    <ion-label *ngIf = "categoria=='inmobiliaria'">Localidad:</ion-label>
    {{item.localidad}}
    <ion-label *ngIf = "categoria=='tecnologia'">Estado:</ion-label>
    {{item.estado}}
  </ion-card-header>
  <ion-card-content>

  </ion-card-content>
</ion-card>
<!------Motor----->
<ion-content *ngIf = "categoria=='motor'">
  <ion-item>
    <ion-label>Tipo</ion-label>
    <ion-select [(ngModel)]="tipos">
      <ion-select-option value="moto">Moto</ion-select-option>
      <ion-select-option value="coche">Coche</ion-select-option>
    </ion-select>
  </ion-item>
<ion-input placeholder="Km" type="number"[(ngModel)]="km"></ion-input>
<ion-input placeholder="Año" type="number"[(ngModel)]="anyo"></ion-input>
</ion-content>

<!------Inmobiliaria----->
<ion-content *ngIf = "categoria=='inmobiliaria'">
<ion-input placeholder="m2" type="number"[(ngModel)]="m2"></ion-input>
<ion-input placeholder="Nº Baños" type="number"[(ngModel)]="nbanyos"></ion-input>
<ion-input placeholder="Nº Habitaciones" type="number"[(ngModel)]="nhabitaciones"></ion-input>
<ion-input placeholder="Localidad"[(ngModel)]="localidad"></ion-input>
</ion-content>

<!------Tecnologia----->
<ion-content *ngIf = "categoria=='tecnologia'">
  <ion-item>
    <ion-label>Estado</ion-label>
    <ion-select [(ngModel)]="estado">
      <ion-select-option value="nuevo">Nuevo</ion-select-option>
      <ion-select-option value="usado">Usado</ion-select-option>
    </ion-select>
  </ion-item>
</ion-content>

</ion-content>
